<script src="https://js.stripe.com/v3/"></script>


<h1> Checkout </h1>
    <p> User email: <%= @current_user %> </p>
    <p> Order number: <%= @order_number %> </p>
    <p> Total price: <%= @total_price %> </p>

  
<%= form_with url: "/confirm-payment-intent", method: :post, id:"payment-form"  do |form| %>
        <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
        </div>
        <div id = 'card-errors', role="alert"></div>
        <%= form.submit 'Pay now', id: "submit" %>
        <div id="payment-message" class="hidden"></div>
<% end %>

<%= tag :meta, :name => "stripe-key", :content => Rails.application.credentials.stripe[:STRIPE_TEST_PUBLISHABLE_KEY] %>


<%= link_to 'Orders', orders_path %>

<%= javascript_pack_tag 'checkout'%>